body{
    font-family: 'Rubik Wet Paint', cursive;
}

p{
    
    font-family: 'Joti One', cursive;
}

/* .parent-1{
background-color: aquamarine;
}

.css1-h1{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
color: brown;
font-style: italic;
text-decoration: overline;
letter-spacing: 5px;

}

.parent-1{
line-height: 1;
letter-spacing: 3px;
font-weight: bold;
}
.rasm{
     width:"200";
    height:"300";
    object-fit: cover;
}

.div{
    font-family:'Trebuchet';
} */